<%= link_to "Sign up with Twitter", "/auth/twitter" %>
<div id="header"></div>

<div id="header">
	<p id="name">WUNDERKAM</p>
	<button>Log in</button>
	<button>Sign up</button>
	<button>Browse</button>
</div>
<div>
	<h1>WHAT DO YOU DO?</h1>
	<h6>PROCLAIM YOURSELF TO THE WORLD</h6>
</div>
<div class="button">
	<h4>Sign Up using Twitter</h4>
	<img src="twitter_button.jpg"/>
</div>
<div id="icons">	
<div class="bird">
	<h4>Sign up with Twitter</h4>
	<img src="twitter_bird.jpg"/>
</div>
<div class="icon">
	<h4>Share content</h4>
	<img src="share_icon.jpg"/>
</div>
<div class="c_icon">
	<h4>Content with the World</h4>
	<img src="connect_icon.jpg"/>
</div>
</div>